# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    cooldown:
      default-days: 2
    versioning-strategy: increase
    assignees:
      - "jyasskin"
    groups:
      minor-updates:
        patterns: ["*"]
        update-types: [patch, minor]
      octokit:
        patterns: ["@octokit/*"]
      graphql-codegen:
        patterns: ["@graphql-codegen/*"]
      prisma:
        patterns: ["prisma", "@prisma/*"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    cooldown:
      default-days: 2
    assignees:
      - "jyasskin"
    groups:
      actions-org:
        patterns: ["actions/*"]
