---
import IssueList from "@components/IssueList.astro";
import ReviewLoad from "@components/ReviewLoad.astro";
import { Temporal } from "@js-temporal/polyfill";
import type { IssueModel } from "@generated/prisma/models";
import Layout from "../layouts/Layout.astro";
import { closestMonday, toPlainDateUTC } from "../lib/date";
import { getLogin } from "../lib/login";
import { prisma } from "../lib/prisma";
import { setMapDefault } from "../lib/util";

const user = await getLogin(Astro.cookies);

await prisma.issue.updateMany( {
  data: {cacheUpdated: new Date("0000-01-01 00:00:00Z")}
})
const openReviews = await prisma.issue.findMany({
  where: { closed: null, org: "w3ctag", repo: "design-reviews" },
  //select: { cacheUpdated: true, },
  take: 2,
});

console.dir(openReviews);

let serverEmpty = false;

if (openReviews.length === 0) {
  serverEmpty = (await prisma.designReview.count()) === 0;
}

const thisMonday = closestMonday(Temporal.Now.plainDateISO("UTC"));
const withMilestone = new Map<string, IssueModel[]>();
const withoutMilestone: IssueModel[] = [];
for (const review of openReviews) {
  if (review.milestone?.dueOn) {
    const due = toPlainDateUTC(review.milestone.dueOn);
    if (Temporal.PlainDate.compare(due, thisMonday) >= 0) {
      setMapDefault(withMilestone, due.toString(), []).push(review);
      continue;
    }
  }
  withoutMilestone.push(review);
}
---

<Layout title="TAG Github Status" {user}>
  <main>
    <h2>Review load</h2>
    <ReviewLoad />
    <h2>Open reviews</h2>
    {
      serverEmpty ? (
        <p>
          No design reviews have been loaded into this server.
          <a href="/update">Try to load some from Github?</a>
        </p>
      ) : null
    }
    {
      Array.from(withMilestone.entries())
        .sort(([m1], [m2]) => Temporal.PlainDate.compare(m1, m2))
        .map(([milestone, issues]) => (
          <>
            <h3>Scheduled for {milestone}</h3>
            <ol>
              <IssueList {issues} />
            </ol>
          </>
        ))
    }
    {
      withoutMilestone.length > 0 ? (
        <>
          <h3>Backlog</h3>
          <ol>
            <IssueList issues={withoutMilestone} />
          </ol>
        </>
      ) : null
    }
  </main>
</Layout>
