---
import Layout from "../layouts/Layout.astro";
import { updateAll } from "../lib/github/update";

await updateAll();
---
<Layout title="Updating from Github">
    <p>Github state updated. <a href="/">Go back home.</a></p>
</Layout>
