---
import IssueLink, { type IssueLinkFields } from "./IssueLink.astro";

interface Props {
  issues: IssueLinkFields[];
  justNumbers?: boolean;
}

const { issues, justNumbers = false } = Astro.props;
---

{
  issues
    .toSorted((a, b) => a.number - b.number)
    .map((issue) =>
      /* prettier-ignore */
      <li><IssueLink {issue} {justNumbers} /></li>
    )
}
