---
import { CLIENT_ID } from "astro:env/server";
import { app } from "../lib/github/auth";
import { getLoginUrl, type User } from "../lib/login";
import { buildUrl } from "../lib/util";

interface Props {
  title: string;
  user: User | null;
}

const { title, user } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon32.png" sizes="32x32" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav id="topnav">
      <a href="/">Home</a>
      <a href="/metrics">Metrics</a>
      <span id="login"
        >{
          user ? (
            <>
              <a href={`https://github.com/${user.username}`}>
                <b>@{user.username}</b>
              </a>
              (
              <a
                href={buildUrl(new URL("/api/logout", Astro.site), {
                  next: Astro.url.pathname + Astro.url.search,
                })}
              >
                Logout
              </a>
              )
            </>
          ) : CLIENT_ID && app ? (
            <a href={getLoginUrl(Astro, app)}>Login</a>
          ) : null
        }</span
      >
    </nav>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  :first-child {
    margin-block-start: 0;
  }
  :last-child {
    margin-block-end: 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    overflow-wrap: break-word;
  }
</style>
